{% extends 'base.html' %}
{% block title %}

{% endblock %}

{% block container %}


    <div class="container">
        <div class="col-md-8">
            <h1 class="title">{{ data.title }}</h1>
            <p class="info">
                <span>阅读：{{ data.clicked }}</span> •
                <span>{{ data.user_id.username }}</span> •
                <span>{{ data.publish_time }}</span>
                <span class="label label-default">{{ data.picture }}</span>
            </p>
            <div class="content">
                {{ data.content |safe }}
                <img src="/static/img/2-4.jpg" alt="">
            </div>
            <div class="content">
                {{ data.content }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="side-bar-card">
                <div class="card-title">相关推荐</div>
                <div class="card-body">
                    <div class="list">
                        <div class="item clearfix">
                            <div class="col-xs-5 no-padding-h">
                                <img src="https://dummyimage.com/1000x700/666/ccc">
                            </div>
                            <div class="col-xs-7">
                                <div class="title">Quam dolorem, accusamus autem suscipit dolor esse.</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                        </div>
                        <div class="item clearfix">
                            <div class="col-xs-5 no-padding-h">
                                <img src="https://dummyimage.com/1000x700/666/ccc">
                            </div>
                            <div class="col-xs-7">
                                <div class="title">Quam dolorem, accusamus autem suscipit dolor esse.</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                        </div>
                        <div class="item clearfix">
                            <div class="col-xs-5 no-padding-h">
                                <img src="https://dummyimage.com/1000x700/666/ccc">
                            </div>
                            <div class="col-xs-7">
                                <div class="title">Quam dolorem, accusamus autem suscipit dolor esse.</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                        </div>
                        <div class="item clearfix">
                            <div class="col-xs-5 no-padding-h">
                                <img src="https://dummyimage.com/1000x700/666/ccc">
                            </div>
                            <div class="col-xs-7">
                                <div class="title">Quam dolorem, accusamus autem suscipit dolor esse.</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                        </div>
                        <div class="item clearfix">
                            <div class="col-xs-5 no-padding-h">
                                <img src="https://dummyimage.com/1000x700/666/ccc">
                            </div>
                            <div class="col-xs-7">
                                <div class="title">Quam dolorem, accusamus autem suscipit dolor esse.</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side-bar-card">
                <div class="card-title">24小时热闻</div>
                <div class="card-body">
                    <div class="list">
                        <div class="item">
                            <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                        <div class="item">
                            <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                        <div class="item">
                            <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                        <div class="item">
                            <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                        <div class="item">
                            <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                        <div class="item">
                            <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                        <div class="item">
                            <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                        <div class="item">
                            <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                        <div class="item">
                            <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                        <div class="item">
                            <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}